@import 'fonts';

footer {
    height: 50px;
    max-width: 1100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
}

.foot__img--logo {
    width: 90px;
    height: 19px;
}

.foot__nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.foot__page-link{
    @include headings;
    line-height: normal;
    font-size: $fontsize-h4;
    text-decoration: none;
    padding: 20px;
}

.foot__page-link:hover {
    text-decoration: underline;
    color: $alternative-color;
}

.fa-brands {
    color: black;
    width: 50px;
    height: 50px;
}

.fa-brands:hover {
    animation-name: fa-brands-hover;
    animation-duration: 5s;
}
@keyframes fa-brands-hover {
    from {color: black;}
    to {color: $alternative-color;}
}
