@import 'fonts';

header {
    height: 100px;
    position: sticky;
        top: 0;
    background-color: rgb(255, 255, 255);
}

.head__img--logo {
    width: 90px;
    height: 19px;
    position: relative;
        top: 30px;
        left: 75px;
}

.head__page-link {
    @include headings;
    line-height: normal;
    font-size: $fontsize-h4;
    text-decoration: none;
}

.head__page-link:hover {
    text-decoration: underline;
    color: $alternative-color;
}

.head__nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    position: relative;
        right: 125px;
}