@import 'fonts';

h1 {
    @include headings;
    font-size: $fontsize-h1;
    line-height: $lineheight-small;
}

p {
    @include paragrafs;
    opacity: 0.8;
}

h4 {
    @include headings;
    font-size: $fontsize-h4;
    line-height: normal;
}

.main-project__intro-text {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.main-project__intro-text-right {
    display: flex;
    gap: 25px;
}

.main-project__intro-text-right-1 {
    opacity: 0.5;
}

.main-project__img-large{
    max-width: 1100px;
    width: 100%;
    margin-bottom: 50px;
}

.main-project__info-text {
    max-width: 1100px;
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
}

.main-project__img-row {
    display: flex;
    justify-content: space-around;
}
