@import 'header';
@import 'main-index';
@import 'main-project';
@import 'main-contact';
@import 'footer';


body {
    background-color: rgb(255, 255, 255);
    max-width: fit-content;
}

main {
    position: relative;
        left: 10%;
        right: 10%;
}